@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* wrap */
#wrap {
    background-color: #fff;
}

/* header */
#header {
    width: 100%;
    display: flex;
}
#header .logo {
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .gnb {
    width: 80%;
    height: 100px;
    position: relative;
}
#header .gnb > ul {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
}
#header .gnb > ul > li {
    position: relative;
}
#header .gnb > ul > li > a {
    display: block;
    padding: 10px 70px;
    background-color: #99ccff;
    text-align: center;
}
#header .gnb > ul > li > a:hover {
    background-color: #3399ff;
}
#header .gnb > ul > li > ul {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #3399ff;
    overflow: hidden;
    transition: all 0.3s;
}
#header .gnb > ul > li > ul > li > a {
    display: block;
    padding: 10px 40px;
    text-align: center;
}
#header .gnb > ul > li > ul > li > a:hover {
    background-color: #0066ff;
}

/* main */
/* sliders */
#sliders {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    overflow: hidden;
}
#sliders .slider_wrap {
}
/* contents */
#contents {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}
/* tab */
.tab_wrap {
    flex: 1;
    background-color: #b8b8b8;
}
/* banner */
.banner_wrap {
    flex: 1;
    background-color: #7c7c7c;
}
/* direct */
.direct_wrap {
    flex: 1;
    background-color: #969696;
}

/* footer */
#footer {
    width: 100%;
    display: flex;
}
#footer .footer_logo {
    width: 20%;
    height: 100px;
}
#footer .footer_cont {
    width: 80%;
    height: 100px;
    background-color: #383737;
}
#footer .footer_cont .down-menu {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer_cont .copyright {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer_cont .down-menu > ul {
    display: flex;
}
