@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
    max-width: 100%;
}

button {
    all: unset;
}

li {
    list-style: none;
}

.sr-only {
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

/* wrap */
#wrap {
    width: 100%;
    height: 100vh;
}
.cont {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}
/* header */
#header {
    width: 200px;
    height: 100%;
}
#header .logo {
    width: 100%;
    height: 80px;
    background-color: #ff1212;
}
#header #gnb {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
}
#gnb > ul {
    width: calc(100% - 20px);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin: 40px 10px;
    background-color: #fff;
}
#gnb > ul > li {
    position: relative;
    width: 100%;
}
#gnb > ul > li > a {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
    border-bottom: none;
}
#gnb > ul > li:last-child > a {
    border-bottom: 1px solid black;
}
#gnb > ul > li > a:hover {
    font-weight: 700;
    background-color: #f86565;
}
#gnb > ul > li > ul {
    position: absolute;
    top: 0;
    left: 180px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    background-color: #fff;
}
#gnb > ul > li:hover > ul {
    height: 220px;
}
#gnb > ul > li > ul > li > a {
    display: block;
    padding: 15px 60px;
    font-size: 17px;
    font-weight: 400;
    white-space: nowrap;
}
#gnb > ul > li > ul > li > a:hover {
    font-weight: 700;
    background-color: #d13737;
    color: #fff;
}
/* main */
#main {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
}
/* bnr-tab */
.bnr-tab {
    width: 400px;
    height: 100%;
    background-color: #eee;
}
/* sliders */
.sliders {
    width: calc(100% - 400px);
    height: 100%;
    background-color: #f19a9a;
    overflow: hidden;
}
.sliders .slider-wrap {
    width: 100%;
    height: 300%;
    /* transform: translateY(-66.666%); */
}
.sliders .slider-wrap .slider {
    width: 100%;
    height: 33.3333%;
}
.sliders .slider-wrap .slider > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* footer */
